<!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Product Details</title>
     {%load static%}
     <link rel="stylesheet" type="text/css" href="{% static 'css/product_details.css' %}">
 </head>
 <body>
     <div class="product-details-container">
         <h4 class="product-name">{{ product.name }}</h4>
         <img class="product-image" src="{{ product.image.url }}" alt="Product Image">
         <p class="product-description">{{ product.description }}</p>
         <span class="product-price">${{ product.price }}</span>
         <a href="{% url 'cart_contents_view' %}" class="add-to-cart-button">Add to Cart</a>
     </div>
 </body>
 </html>
 