<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {%load static%}
    <link rel="stylesheet" type="text/css" href="{%static 'css/products_list.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">
</head>
<body>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>


    {% include 'navbar.html'%}

    <div class="products-container">
        {% for product in products %}
            <div class="product-card">
                <h4 class="product-title">{{ product.name }}</h4>
                <img src="{{ product.image.url }}" alt="Image">
                <p class="product-price">Price: ${{ product.price }}</p>

                <div>
                    {% for rating in product_ratings.product.id %}
                        Rating: {{ rating.rating }}
                    {% empty %}
                        No ratings yet.
                    {% endfor %}
                </div>
                
                <a href="{% url 'product_detail_view' id=product.id %}" class="view-product-link">View Product</a>
                <a href="{% url 'product_cart' product.id  %}" class="view-product-link">Add to Cart</a>

            </div>
        {% endfor %}
    </div>
</body>
</html>
