<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="{{ customer.image.url }}" alt="Image">
    <h4>{{customer.first_Name}}</h4>
    <p>{{customer.phone_Number}}</p>
    <p>{{customer.email}}</p>
    <p>{{customer.address}}</p>
    <p>{{customer.date_created}}</p>
    <p>{{customer.date_updated}}</p>
    <p>{{product.description}}</p>
    <span>{{product.price}}</span>

</body>
</html>

